const defaultTheme = require('tailwindcss/defaultTheme')

module.exports = {
  theme: {
    extend: {
      fontFamily: {
        'sans': ['LapsusPro-Bold', ...defaultTheme.fontFamily.sans],
      },
    }
  }
}